<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clasificador de Imágenes</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Clasificador de Imágenes</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="imagenInput" accept="image/*" required>
            <button type="submit">Enviar</button>
        </form>

        <div id="preview">
            <img id="imagenPreview" src="" alt="Vista previa">
        </div>

        <div id="resultado"></div>

        {% if prediction %}
          <p><strong>{{ prediction }}</strong></p>
        {% endif %}
        {% if image %}
          <img src="{{ image }}" alt="Imagen subida">
        {% endif %}
    </div>

    <script src="static/js/app.js"></script>
</body>
</html>
